<!DOCTYPE html>
<html lang="en" >
{% load static %}
<head>
  <meta charset="UTF-8">
  	<title>CodePen - WhatsApp Inspired Bootstrap Chat UI Direct Messaging App</title>
  	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css'>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->



<div class="container">
	<div class="row no-gutters">
	  <div class="col-md-4 border-right">
		<div class="settings-tray">
		  <img class="profile-image" src="{%static 'image/profile_photo.jpg' %}" alt="Profile img">
			{{request.user}}
		  <span class="settings-tray--right">

			<i class="material-icons">cached</i>
			<i class="material-icons">message</i>
			<i class="material-icons">menu</i>

		  </span>
		</div>
		<div class="search-box">
		  <div class="input-wrapper">
			<i class="material-icons">search</i>
			<input placeholder="Search here" type="text">
		  </div>
		</div>


		{%for th in thread%}





		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="{%static 'image/user1.jpg' %}" alt="">
		  <div class="text">
			  {%if request.user == th.first_person%}
				<h6>{{th.second_person}}</h6>
			  {%else%}
			  	<h6>{{th.first_person}}</h6>
			  {%endif%}

			<p class="text-muted">{{th.message_thread.last}}</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		<hr>

		{%endfor%}
		</div>

	{%for th in thread%}
	  <div class="col-md-8">
		<div class="settings-tray" chat-id="chat_{{ th.id }}">
			<div class="friend-drawer no-gutters friend-drawer--grey" >
			<img class="profile-image" src="{%static 'image/user1.jpg' %}" alt="">

			<div class="text">
				{%if request.user == th.first_person%}
				<h6>{{th.second_person}}</h6>
			  {%else%}
			  	<h6>{{th.first_person}}</h6>
			  {%endif%}
			  {%if request.user == th.first_person%}
			  <p class="text-muted">
				  {{th.second_person.email}}
			  </p>
				{%else%}
				 <p class="text-muted">
				  {{th.first_person.email}}
			  </p>
				{%endif%}
			</div>
			<span class="settings-tray--right">
			  <i class="material-icons">cached</i>
			  <i class="material-icons">message</i>
			  <i class="material-icons">menu</i>
			</span>
		  </div>
		</div>

		<div class="chat-panel">
		{%for message in messages%}
			{% if not  message.owner == request.user %}
			  <div class="row no-gutters"  >
				<div class="col-md-3">
				  <div class="chat-bubble chat-bubble--left">
					{{message.context}}
				  </div>
				</div>
			  </div>
			{%else%}
			  <div class="row no-gutters">
				<div class="col-md-3 offset-md-9">
				  <div class="chat-bubble chat-bubble--right">
					{{message.context}}
				  </div>
				</div>
			  </div>
			{%endif%}
		{%endfor%}

			{%endfor%}
		</div>
		  <div class="row">
			<div class="col-12">
			  <div class="chat-box-tray">
				<i class="material-icons">sentiment_very_satisfied</i>
				<input type="text" id="chat-message-input" placeholder="Type your message here...">
				<i class="material-icons">mic</i>





						 <i class="material-icons" id="chat-message-submit" ><a href="" class="counter">send</a></i>



			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script  src="{%static 'js/script.js'%}"></script>

<script>


	let loc = window.location
	let wsStart = 'ws://'

	if(loc.protocol === 'https') {
		wsStart = 'wss://'
	}
	let endpoint = wsStart + loc.host + loc.pathname
        const chatSocket = new WebSocket(endpoint);


        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            console.log(data['message'])
            message=data['message']
            sent_by_user = data['sent_by_user']
            sent_to_user = data['sent_to_user']
            if(sent_by_user == '{{request.user.id}}'){
            		var	html='<div class="row no-gutters">'
				html+='<div class="col-md-3 offset-md-9">'
				html += '<div class="chat-bubble chat-bubble--right">' + message + '</div>'
				html+='</div> </div>'
            }
            else{
			var	html='<div class="row no-gutters">'
				html+='<div class="col-md-3">'
				html += '<div class="chat-bubble chat-bubble--left">' + message + '</div>'
				html+='</div> </div>'
				}
			chatPanel=document.querySelector('.chat-panel')
			chatPanel.innerHTML+=html
			scrollTop()
		}



         document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {

            if (e.keyCode === 13) {  // enter, return
            	e.preventDefault();
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            var another_user = 2
           	var thread_id =  get_active_thread_id()
            if('{{request.user.id}}' == 2){
            	another_user = 1
            }
            if(message){
            	chatSocket.send(JSON.stringify({
					'message': message,
					'sent_by_id' : '{{request.user.id}}',
					'sent_to_id' : another_user,
					'thread_id' : thread_id ,
				}));
				messageInputDom.value = '';
				}
           		 else{
				};
        };






//a tag not reloading
$(document).on('click', '.counter',function(e){
    e.preventDefault();

    // Do more stuff every anchor click here...
});


//scroll bottom
function scrollTop(){

chatPanel=document.querySelector('.chat-panel')
chatPanel.scrollTop = chatPanel.scrollHeight;
}

scrollTop()

function get_active_thread_id(){
	let chat_id = $('.settings-tray')
	var threads_id = chat_id[1].getAttribute("chat-id")
	let thread_id = threads_id.replace('chat_', '')
	return thread_id
}
</script>
</body>
</html>
