<!-- lobby/templates/lobby/room.html -->

<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>


</head>
<body>





    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    {{ room_name|json_script:"room-name" }}

    <script>
         const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        );
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            console.log(data['message'])
            var chatlog = document.querySelector('#chat-log')
            chatlog.value += data['user']+ ':' + data['message'] + '\n'
        }



         document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user' : '{{request.user}}'
            }));
            messageInputDom.value = '';
        };




    </script>


</body>
</html>